<div class="flex justify-center flex-col gap-6">
  <section class="text-center">
    <h1><%= gettext "Welcome to %{name}!", name: "Heini" %></h1>
    <p>The EHR suite of the future</p>
  </section>
</div>
